<% if current_user %>
  <h1>Hi there, <%= @user.email %>!</h1>
<% end %>

<div class="cities-container">
  <% @cities.each do |city| %>
  <div>
    <p><%= city.name %></p>
    <a href="/cities/<%= city.id %>/attractions"><img class="resize" src="<%= city.photo_url %>"></a>
  </div>
  <% end %>
</div>
