<h1>Your Cities</h1>
<div class="debug col span-12-t t-center p-sm">
  <form id="search-form" class="debug">
    <input type="text" class="debug bdr-blk t-center p-sm bdr-r-m w-90 fz-m">
  </form>
</div>
<div class="cities-container">
  <% @cities.each do |city| %>
  <div>
    <p><%= city.name %></p>
    <a href="/mycities/<%= city.id %>/attractions"><img class="resize" src="<%= city.photo_url %>"></a>
  </div>
  <% end %>
</div>
