// Place all the styles related to the attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden {
  display: none;
}

.ui-loading .ui-loader {
  display: block;
}

.ui-loader {
  display: none;
  position: absolute;
  opacity: .85; z-index: 100;
  left: 50%; width: 200px;
  margin-left: -130px;
  margin-top: -35px;
  padding: 10px 30px;
}

.hidden {
  background: black;
}