/*.debug { border: 1px solid red;}*/

/* Width */

.w-half {width: 50%;}
.w-90 {width: 90%;}
.w-full {width: 100%;}
.w-60 {width: 68px;}
.w-220 {width: 220px;}
.w-320 {width: 320px;}

/* Height */

.h-68 {height: 60px;}
.h-568 {height: 568px;}

/* Background */

.bgc-black {background-color: black}
.bgc-grey {background-color: #555555}
.bgc-lgrey {background-color: #BEBEBE;}

/* color */

.c-white {color: white;}
.c-dgrey {color: #bebebe;}

/* Fonts */

.f-oswald {font-family: 'Oswald', sans-serif;}
.f-oldstd {font-family: 'Old Standard TT', serif;}

.fz-xxs {font-size: 0.9em;}
.fz-xs {font-size: 1.15em;}
.fz-sm {font-size: 1.5em;}
.fz-ms {font-size: 2em;}
.fz-m {font-size: 3em;}
.fz-l {font-size: 4em;}

.f-weight {font-weight: normal;}

/* Borders */

.bdr-blk {border: 1px solid;}
.bdr-sm-blk {border: 1px solid black;}
.bdr-m-blk {border: 3px solid black;}
.bdr-white {border: 2px solid white;}
.bdr-r-m {border-radius: 16px;}
/* Positioning */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.fl-l {float: left;}
.fl-r {float: right;}

.t-center {text-align: center;}
.t-right {text-align: right;}
.t-left {text-align: left;}

.center {margin: 0 auto;}

.v-top {vertical-align: top}

.d-in {display: inline;}
.d-inb {display: inline-block;}
.d-b {display: block;}

/* Margin */

.m-sm {margin: .75em;}
.m-t-m {margin-top: .5em;}
.m-t-l {margin-top: 1em;}
.m-t-neg {margin-top: -1.25em;}
.m-l-sm {margin-left: 0.4em;}
.m-l-l {margin-left: 2.2em;}
.m-b-m {margin-bottom: .5em;}

/* Padding */

.p-none {padding: 0;}
.p-xs {padding: 0.3em;}
.p-sm {padding: 0.4em;}
.p-m {padding: 1em;}
.p-l {padding: 2em;}
.p-r-sm {padding: 0.6em;}
.p-r-m {padding-right: 1em;}
.p-l-xs {padding-left: 0.5em;}
.p-l-sm {padding: 0.6em;}
.p-t-sm {padding-top: 0.4em;}
.p-t-m {padding-top: 0.8em;}

/* Normalize */

h1 {margin: 0;}
p {margin: 0;}

/* Links */

a:link {color: #222222;}

/* visited link */
a:visited {color: #222222;}

/* mouse over link */
a:hover {color: #222222;}

a {text-decoration: none;}

input:focus {outline: none;}

/* Images */

/* SwipeSee */

.logo {
  width: 100%;
  height: auto;
  /*display: block;*/
/*  text-align: center;
  margin-left: auto;
  margin-right: auto;*/
  /*margin-bottom: -20px;*/
}

.w-logo {
  /*width: 100px;*/
  width: 60px;
}

.log {
  /*height: 90px;*/
  height: 40px;
  /*display: inline;*/
}

.invis-log {
  height: 40px;
  width: 43px;
}

/* main city pics page */
.city_pic{
  /*width: 120px;
  height: auto;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.swipesee-final {
  width: 275px;
}
/* Use the two classes below to resize images to be perfect squares */

.square_city {
  width: 275px;
  height: 275px;
  overflow: hidden;
  margin: 0 auto;
}

img.my-city-image {
  /*width: 100%;*/
  max-width: 300px;
  min-width: 275px;
  min-height: 275px;
}

.my-city-pic {
  max-width: 275px;
  width: 100%;
}

.rounded {
  border-radius: 10px;
  padding:5px;
}
.round-button {
    display:inline-block;
    margin: 0 1.5em;
    width:50px;
    height:50px;
    padding: 0.4em;
    /*line-height:50px;*/
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: black;
    text-align:center;
    text-decoration:none;
    background: white;
    box-shadow: 0 0 3px gray;
    /*font-size:15px;*/
    font-weight:bold;
}

/*.ta-c {
  text-align:center;
}*/

.sm-rect-button {
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    box-shadow: 0 0 3px gray;
    background: #bebebe;
    padding:5px;
}

.sm-rect-button-map {
    border-radius: 10px;
    border: 1px solid #bebebe;
    box-shadow: 0 0 3px gray;
    color: #bebebe;
    background: none;
    padding:5px;
}

.sm-rect-button-np {
  color: #bebebe;
  border-radius: 10px;
  border: 1px solid #bebebe;
  box-shadow: 0 0 3px gray;
  background: #555555;
}

#leftb:hover {
  border: 1px solid red;
}

#midb:hover {
  border: 1px solid black;
}

#rightb:hover {
  border: 1px solid green;
}

.search-input {
  background: white url('/imgs/search.png') no-repeat 8px 6px;
  background-size: 1.25em;
}

/* Loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/imgs/world.gif) center no-repeat #fff;
}

/* Media Queries */
@media (min-width: 750px) {
  .outer-desktop {
    border: 2px solid black;
    width: 350px;
    margin: 0 auto;
    padding: 20px 0 30px 0;
    border-radius: 5%;
  }
  .desktop {
    width: 320px;
    height: 568px;
    border: 2px solid black;
    overflow: scroll;
    margin: 0 auto 20px auto;
  }
  .speaker {
    width: 50px;
    border: 2px solid black;
    margin: 0 auto 20px auto;
  }
  .black-circle {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 auto;
  }
}