.debug { border: 1px solid red;}

/* Background */

/* Fonts */

/* Borders */

.bdr-blk {border: 1px solid;}
.bdr-r-m {border-radius: 16px;}
/* Positioning */
.t-center {text-align: center;}

/* Margin */

/* Padding */
.p-sm {padding: 0.4em;}
.p-m {padding: 1em;}


/* Images */

.logo {
  width: 90px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.city_pic{
  /*width: 120px;
  height: auto;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}


