/*.debug { border: 1px solid red;}*/

/* Width */

.w-half {width: 50%;}
.w-90 {width: 90%;}
.w-full {width: 100%;}

/* Height */

/* Background */

.bgc-black {background-color: black}
.bgc-grey {background-color: #555555}

/* color */

.c-white {color: white;}

/* Fonts */

.f-oswald {font-family: 'Oswald', sans-serif;}

.fz-m {font-size: 3em;}
.fz-l {font-size: 4em;}

/* Borders */

.bdr-blk {border: 1px solid;}
.bdr-r-m {border-radius: 16px;}

/* Positioning */

.t-center {text-align: center;}
.t-right {text-align: right;}
.center {margin: 0 auto;}

.v-top {vertical-align: top}

.d-inb {display: inline-block;}
/* Margin */

.m-t-m {margin-top: .5em;}

/* Padding */

.p-sm {padding: 0.4em;}
.p-m {padding: 1em;}

/* Normalize */

h1 {margin: 0;}
p {margin: 0;}

/* Links */

a:link {
    color: #222222;
}

/* visited link */
a:visited {
    color: #222222;
}

/* mouse over link */
a:hover {
    color: #222222;
}

a {text-decoration: none}

/* Images */

/* SwipeSee */

.logo {
  width: 130px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
}

.heart {
 height: 200px;
}

.log {
  height: 200px;
}

/* main city pics page */
.city_pic{
  /*width: 120px;
  height: auto;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Use the two classes below to resize images to be perfect squares */

.square_city {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

img.my-city-image {
  width: 100%;
  max-width: 400px;
}
/* Unsure why i have to be so specific with my image targeting...*/