<h1>Your selected attractions for <%=@city.name %> unleashed!</h1>


<div id="map-canvas" style="width:600px;height:600px;"></div>


  

<script src="http://maps.googleapis.com/maps/api/js" type="text/javascript"></script>