<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<% if current_user %>
  <a href='/logout'>Logout</a>
  <a href='/mycities'>Your Cities</a>
<% else %>
  <a href='/login'>Login</a>
  <a href='/users/new'>Signup</a>
<% end %>
<audio id="woof" src="sounds/kevin_woof_woof.mp3"></audio>
<div class='sightsee_logo'>
  <button onclick="document.getElementById('woof').play()">SightSee Image Here</button>
</div>
<%= yield %>

</body>
</html>
