
<div class="attractions-container">
  <% @attractions.each_with_index do |attraction,index| %>
    <div id="attraction<%= index %>">
      <p><%= attraction.name %></p>
      <a href="/cities/<%= attraction.id %>/attractions"><img class="resize" src="<%= attraction.photo_url %>"></a>
    </div>
  <% end %>
</div>
