



<h1><%=@attraction.name %>, <%=@city.name %></h1>


<div id="map-canvas" style="width:600px;height:600px;"></div>


<div class="address" id="address" ><%=@attraction.name %>,<%=@city.name %></div>

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
