<div>
  <h1><%= @attraction.name %></h1>
  <div><img id="swipe" src="<%= @attraction.photo_url %>"></div>
  <p id="swipe_status"></p>
  <div><%= @attraction.description %></div>
  <div><%= @attraction.address %></div>
</div>