
<h1>Test Map for your <%=@city.name %> unleashed!</h1>
  <script src="http://maps.googleapis.com/maps/api/js" type="text/javascript"></script>
  
<div id="multi-map" style="width: 500px; height: 400px;"></div>

<div> <%= @my_array %></div>

<script id="attraction_id_tag" data="<%= @attraction_ids %>" data2="<%=@send %>"> </script>